.marque{
    overflow: hidden;
    white-space: nowrap; 
    /* Définissez la largeur souhaitée pour le défilement */
    width: 100%;
}

.mag{
    background: transparent;
    /* font-size: 20px; */
    font-weight: 600;
    display: inline-block;
    animation: mag 20s linear infinite alternate-reverse;
}


@keyframes mag {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}