.platJour{
    display: flex;
    justify-content: space-between;
    /* background: skyblue; */
    box-sizing: border-box;

    width: 90%;
    padding: 1em;
    margin: 0 auto;
    margin-top: 1em;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}