button{
    background: wheat;
    cursor: pointer;
}
button.clicked{
    background: rgb(35, 110, 40);
    color: white;
    transition: background 1s ease-in-out;
  
}
h1{
    color: black;
}
h1.clicke{
    transition: background 1s ease-in-out;
    color: green;
}

header.scrolled{
    display: flex;
    padding: 1em;
    width: 90%;
    background: transparent;
    position: fixed;
    margin: 0 auto;
}